<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{appTitle}}</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">{{pageTitle}} </h1>
    <p>{{screamIt welcomeMessage}} !! </p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">About &raquo;</a></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">Home &raquo;</a></p>
    <p><a class="btn btn-primary btn-lg" href="/projects" role="button">Projects &raquo;</a></p>
  </div>
</div>
